### Node template
# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# dotenv environment variable files
.env*
!.env.example

# Next.js build output
.next/
out/

### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# Air
tmp/
