# This compose file defines all the external services required to run the API
# locally for development and testing purposes.

volumes:
  pgdata:
    name: pgdata

services:
  postgresdb:
    image: docker.io/library/postgres:17-alpine
    container_name: postgresdb
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
