name: Sekrets CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Code Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup tools
        uses: ./.github/actions/setup-tools
      - name: Run Linters
        run: |
          pnpm run lint

      - name: Run Tests
        run: |
          pnpm run tests

      # Rest of the pipeline steps to be added
      # when release version is ready

