name: Setup Project Tools & Environments

on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string
      golangci-lint-version:
        required: true
        type: string
      node-version:
        required: true
        type: string
      pnpm-version:
        required: true
        type: string
      turbo-version:
        required: true
        type: string

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version }}

      - name: Setup Golangci-Lint
        if: ${{ inputs.golangci-lint-version != 'none' || inputs.golangci-lint-version != '' }}
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ inputs.golangci-lint-version }}

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: ${{ inputs.pnpm-version }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'

      - name: Install Project Dependencies
        run: |
          pnpm add -g turbo@${{ inputs.turbo-version }}
          pnpm install --frozen-lockfile
